<header>
  <nav>
    <h1 id="logo">TodoApp</h1>
    <ul class="navLinks">
      <% if(!currUser) {%>
      <li><a href="/api/users/signup">SignUp</a></li>
      <li><a href="/api/users/login">LogIn</a></li>
      <%}else { %>
      <li><a href="/api/users/logout">LogOut</a></li>
      <li><a href="/api/users/<%=currUser._id%>/deleteUser">Delete User</a></li>
      <%}%>
    </ul>
  </nav>
</header>
