<header>
  <nav>
    <h1 id="logo">TodoApp</h1>
    <ul class="navLinks">
      <% if(!currUser) {%>
      <li><a href="/api/users/signup">SignUp</a></li>
      <li><a href="/api/users/login">LogIn</a></li>
      <%}else { %>
      <li><a href="/api/users/logout">LogOut</a></li>
      <li>
        <form method="POST" action="/api/users/<%=currUser._id%>?_method=DELETE" class="deleteBtnForm">
          <button id="deleteUserBtn">Delete User</button>
        </form>
      </li>
      <%}%>
    </ul>
  </nav>
</header>
