<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/Index.css" />
    <link rel="stylesheet" href="/css/Navbar.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <%- include("../partials/flash.ejs") %>
    <main>
      <h2>Welcome to the Todo list App!</h2>
      <%if(currUser){%> 
        <a href="/api/todos" class="entryLink">Go To TodoApp</a>
      <%}%>
    </main>
  </body>
</html>
